#container{
    background-color: rgb(71,20,61);
    height: 280px;
    width: 100%;
    position: relative;
    top: 700px;
    
}

.img-fluid{
    width: 70%;
    position: relative;
    top: 70px;
    
}
.section-title h2 {
    color: white;
    position: relative;
    top: 10px;
    left: 600px;
}