#body-section{
    width: 1348px;
    height: 500px;
    position: relative;
    top: 700px;
    background-color:rgb(90,20,61);


}

.bodyimage{
    border-color: #B99750;
    margin-bottom: 2rem;
    transition: all .15s ease;
    color: #fff;
   
  }
.theme-bg a{
    color: white;
    background-color: #B99750;
    position: relative;
    left:-40px;
    top: -100px;
    font-size: 15px;
    text-decoration: none;
 }
.text-center a{
    position: relative;
    left:20px;
    color:#B99750;
    border: 1px solid #B99750;
  }
.text-center a:hover{
    color:black;
    background-color: #B99750;
}
  
.card-img-top{
    height: 250px;
    width: 250px;
}
#body-section p{
    position: relative;
    left: 100px;
    top: 10px;
    color: white;
    padding-bottom: 20px;
    font-size:17px ;
}
.title-section h2{
    
    position: relative;
    left: 500px;
    top: 15px;
    color: white;
}
 