#aboutus{
    background-color: rgb(83,37,73);
    height: 450px;
    color: white;
    padding: 40px;
    position: relative;
    top: 700px;
}

    
h3{
    position: relative;
    left: 550px;
    top: 15px;
    }
p{
        
    text-align: center;
    font-size: 18px;
    width: 75%;
    position: relative;
    top: 50px;
    left: 150px;
    }